{% extends 'admin/master.html' %}
{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                <h2>Заявки</h2>
                <p>{{ applicants | length }} всего 
                    {{ ready_applicants | length }} распределены
                    {{ (applicants | length) - (ready_applicants | length) }} не распределены</p>

                <h3>Новые заявки</h3>
                <table class="table">
                    {% for group in groups %}
                    <tr>
                        <td><a href="/">{{ group.title }}</a></td>
                        <td>{{ group.applicants | length }} / {{ group.seats }} набрано</td>
                        <td>
                            {% if (group.applicants | length) == group.seats %}
                                нет мест
                            {% else %}
                                есть места
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <!--<tr>
                        <td><a href="/">Flask февраль</a></td>
                        <td>10 / 10 набрано</td>
                        <td>нет мест</td>
                    </tr>
                    <tr>
                        <td><a href="/">Django февраль</a></td>
                        <td>6 / 10 набрано</td>
                        <td>есть места</td>
                    </tr>-->
                </table>
                <br>
                <a href="" class></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">

                <h2>Группы</h2>
                <br>
                <table class="table">
                    {% for group in groups %}
                    <tr>
                        <td><a href="/">{{ group.title }}</a></td>
                        <td>{{ group.applicants | length }} / {{ group.seats }} набрано</td>
                        <td>
                            {% if (group.applicants | length) == group.seats %}
                                нет мест
                            {% else %}
                                есть места
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>


</div>

{% endblock %}